.header
    height: 85px
    width: 100%
    background-color: red
    display: flex
    justify-content: space-around
    align-items: center
    &_block
        display: flex
        justify-content: space-around
    &_text
        font-size: 20px
        color: #fff
        font-family: 'Bungee Inline', cursive
